body {
  background-color: #887766;
}

#top{
  padding: 50px 50px;
}

.pics {
  text-align: center;
  vertical-align: middle;
  background-color: #f22929;
  display: inline-block;
  float: both;
}

img {
  vertical-align: middle;
  margin: 50px;
  margin-bottom: 10px;
}

figcaption {
  padding: 15px 0px;
  font-style: italic;
}

h2 {
  text-align: center;
}

h3 {
  font-size: 18pt;
  font-family: Serif;
}

#lname {
  margin-left: 1.75px;
}

#contact {
  display: block;
  text-align: right;
  margin-right: 25%;
  margin-top: 15px;
}

.nar {
  display: inline;
}

#car {
  font-size: 14pt;
  color: #f1f1f1;
  font-style: bold;
  font-style: italic;
  background-color: #887766;
}

td {
  vertical-align: text-top;
  padding: 0px 15px;
}

fieldset {
  margin: 15px 5px;
  border-color: black;
}

.input {
  margin: 10px 0px 10px 0px;
}

#pick {
  vertical-align: top;
}

#comment {
  height: 15em;
  width: 50em;
  text-align: left;
  vertical-align: top;
}

#sub {
  text-align: center;
}

#back {
  text-align: center;
  font-size: 12pt;
}

